# Build directory
build/
bin/
out/

# IDE & Editor files
.vscode/
.vs/
.idea/
*.sln
*.vcxproj*

# Generated / Cache files
cache/
web/bg.jpg
compile_commands.json

# Binaries & Objects
*.exe
*.obj
*.o
*.pdb
*.ilk
